<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/header' %>
  </head>
  <body data-route="<%= dispatcher_route %>">
    <div class="container">
      <%= render 'shared/flash' %>
      <ul class="nav">
        <li class="logo"><a href="/"><%= image_tag 'logo.png' %></a></li>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
